.image {
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  border: 2px solid #444;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

#parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image:nth-child(1) {
  background-image: url("https://picsum.photos/id/237/200/300");
}

.image:nth-child(2) {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
}

.image:nth-child(3) {
  background-image: url("https://picsum.photos/200/300?grayscale");
}

.image:nth-child(4) {
  background-image: url("https://picsum.photos/200/300");
}

.image:nth-child(5) {
  background-image: url("https://picsum.photos/200/300.jpg");
}

.image:nth-child(6) {
  background-image: url("https://picsum.photos/id/102/200/300");
}
